p {
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    position: right;
}

h1 {
    font-family: 'hipster script pro';
    font-weight: bold;
    color: greenyellow;
    font-size: 100px;
}